In [2]:
import warnings

warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)

import pandas as pd
import numpy as np
import random
import math


import datetime as dt
import time

import numbers
from scipy.stats import mvn
from scipy import stats

from sklearn.linear_model import LinearRegression
import empyrical as metrics

import matplotlib.pyplot as plt
plt.rcParams['font.family']=['Heiti TC']
import seaborn as sns
%matplotlib inline
sns.set(style="ticks")

np.random.seed(817)
random.seed(817)

## Read in Data

931;;1130
1301;;1500

In [10]:
df['time'].max(),df['time'].min(),np.unique(df['time'])

(1500,
 925,
 array([ 925,  931,  932,  933,  934,  935,  936,  937,  938,  939,  940,
         941,  942,  943,  944,  945,  946,  947,  948,  949,  950,  951,
         952,  953,  954,  955,  956,  957,  958,  959, 1000, 1001, 1002,
        1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013,
        1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024,
        1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035,
        1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046,
        1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057,
        1058, 1059, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108,
        1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119,
        1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130,
        1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311,
        1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322,
        1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333,
        1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344,
        1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355,
        1356, 1357, 1358, 1359, 1400, 1401, 1402, 1403, 1404, 1405, 1406,
        1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417,
        1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428,
        1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439,
        1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450,
        1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1500]))

In [134]:
files =['000001.csv','000002.csv','000004.csv',
        '000005.csv','000008.csv','000009.csv',
        '000010.csv','000011.csv','000012.csv',
       '000014.csv','中证500.csv']
stock_name=[]
df = pd.DataFrame()

require_column = ['date','time','price']
for file in files:
    df_i = pd.read_csv(file)
    
    stock_name.append(str(df_i['StockID'][0]))
    
    ind_valid = (df_i['time']==931)|(df_i['time']==1130)|(df_i['time']==1301)|(df_i['time']==1500)
    
    df_i = df_i.loc[ind_valid,require_column]
    df_i.reset_index(drop=True,inplace=True)
    
    df[stock_name[-1]] = (df_i['price']
    
df['time']=df_i['time']
df['date'] = pd.to_datetime(df_i['date']).dt.date
df.shape

(972, 13)

In [77]:
stock_name

['1', '2', '4', '5', '8', '9', '10', '11', '12', '14', 'SH000905']

In [78]:
df[:20]

,1,2,4,5,8,9,10,11,12,14,SH000905,time,date
0,13.37,31.65,22.46,4.16,8.72,7.26,5.37,16.82,8.45,10.75,6270.0304,931,2018-01-02
1,13.83,32.31,22.28,4.16,8.74,7.30,5.47,17.11,8.56,10.99,6302.6768,1130,2018-01-02
2,13.85,32.39,22.28,4.17,8.74,7.31,5.46,17.13,8.57,10.97,6307.1983,1301,2018-01-02
3,13.70,32.56,22.34,4.32,8.77,7.32,5.48,17.08,8.62,10.92,6332.2269,1500,2018-01-02
4,13.67,32.24,22.30,4.31,8.77,7.30,5.44,16.89,8.56,10.90,6325.8498,931,2018-01-03
5,13.71,32.73,22.57,4.27,8.71,7.39,5.54,17.11,8.82,11.02,6385.6291,1130,2018-01-03
6,13.75,32.77,22.60,4.26,8.71,7.40,5.54,17.10,8.87,11.02,6389.5695,1301,2018-01-03
7,13.33,32.33,23.80,4.27,8.75,7.42,5.53,17.14,8.89,10.97,6388.2533,1500,2018-01-03
8,13.32,32.82,23.53,4.25,8.72,7.58,5.53,17.16,8.75,10.97,6376.3013,931,2018-01-04
9,13.34,32.63,23.22,4.26,8.66,7.64,5.50,17.09,8.66,11.07,6397.4949,1130,2018-01-04
10,13.32,32.66,23.22,4.27,8.66,7.65,5.51,17.09,8.68,11.08,6400.6201,1301,2018-01-04
11,13.25,33.12,23.24,4.29,8.68,7.64,5.48,17.15,8.75,11.06,6417.5350,1500,2018-01-04
12,13.24,32.91,23.16,4.27,8.67,7.56,5.45,17.27,8.72,11.12,6413.0194,931,2018-01-05
13,13.22,35.11,23.31,4.38,8.54,7.57,5.52,17.80,8.81,12.17,6431.4881,1130,2018-01-05
14,13.22,35.33,23.31,4.38,8.54,7.59,5.53,17.87,8.80,12.17,6434.1691,1301,2018-01-05
15,13.30,34.76,23.18,4.34,8.55,7.55,5.64,17.95,8.72,12.17,6417.2537,1500,2018-01-05
16,13.22,35.50,22.96,4.33,8.51,7.54,5.59,17.60,8.80,12.41,6412.6999,931,2018-01-08
17,12.95,36.26,22.92,4.36,8.48,7.55,5.60,18.08,8.87,13.38,6428.6865,1130,2018-01-08
18,12.94,36.26,22.90,4.36,8.46,7.54,5.61,18.13,8.89,13.33,6429.3190,1301,2018-01-08
19,12.96,35.99,22.84,4.37,8.47,7.52,6.20,17.88,8.90,13.39,6446.1818,1500,2018-01-08

In [91]:
trade_period=  np.unique(df['date'])
trade_period = pd.to_datetime(trade_period).date
trade_period.shape

(243,)

In [92]:
len(trade_period)

243

In [82]:
n_stocks = 10
index_name = [df.columns[n_stocks]]
index_name

['SH000905']

In [83]:
df.loc[0,'time']

931

In [ ]:
=[4.37,4.34,4.34,4.38]

In [150]:
df.loc[df['date']==trade_period[i+20],:]

,1,2,4,5,8,9,10,11,12,14,SH000905,time,date
740,10.51,21.73,15.64,2.87,NaN,4.53,4.57,11.10,4.74,10.17,4644.1449,931,2018-10-10
741,10.45,21.60,15.46,2.87,NaN,4.53,4.46,10.68,4.72,10.12,4630.0902,1130,2018-10-10
742,10.44,21.60,15.46,2.87,NaN,4.51,4.45,10.69,4.72,10.15,4631.4202,1301,2018-10-10
743,10.45,21.75,15.76,2.89,NaN,4.51,4.48,10.81,4.72,10.26,4629.8877,1500,2018-10-10

## APM calculation and Hedging strategy

In [144]:

class APM_Factor(object):
    def __init__(self,stock_name,index_name,onsite_date,past_date,lookback,df):
        self.n_stock = len(stock_name)-1
        self.stock_name = stock_name
        
        self.onsite_date = onsite_date
        self.past_date =past_date
        self.lookback = lookback
        self.df = df
        
    
        # past 20 days prices
        self.ind = (self.df['date']<self.onsite_date)&(self.df['date']>=self.past_date)
        self.price_seq = self.df.loc[self.ind,self.stock_name]
        self.time_seq = self.df.loc[self.ind,['time']]
    
    def AM_ret(self):
        # 过去20天上午收益
        open_price = self.price_seq.loc[self.time_seq['time']==931,:]
        open_price.reset_index(drop=True,inplace=True)
        
        close_price = self.price_seq.loc[self.time_seq['time']==1130,:]
        close_price.reset_index(drop=True,inplace=True)
        
        res = np.log(close_price/open_price)
        
        return res
    def PM_ret(self):
        # 过去20天下午收益
        open_price = self.price_seq.loc[self.time_seq['time']==1301,:]
        open_price.reset_index(drop=True,inplace=True)
        close_price = self.price_seq.loc[self.time_seq['time']==1500,:]
        close_price.reset_index(drop=True,inplace=True)
        res = np.log(close_price/open_price)
        
        return res
    
    
    def Ret20(self):
        open_ind = (self.df['date']==(self.past_date))
        open_price = self.df.loc[open_ind,self.stock_name[:(self.n_stock)]]
        open_price = open_price.iloc[-1]
        open_price.reset_index(drop=True,inplace=True)
        
        
        
        close_ind = (self.df['date']==(self.onsite_date))
        close_price = self.df.loc[close_ind,self.stock_name[:(self.n_stock)]]
        
        close_price = close_price.iloc[-1]
        close_price.reset_index(drop=True,inplace=True)
        
        
        res = np.log(close_price/open_price)
        return res
        
    
    def regress(self):
        
        am = self.AM_ret()
        pm = self.PM_ret()
        lm_df = pd.concat([am,pm])
        lm_df.reset_index(drop=True,inplace=True)
        lm_model = LinearRegression()
        lm_model.fit(lm_df.iloc[:,-1].values.reshape(-1,1),lm_df.iloc[:,0:self.n_stock].values.reshape(-1,self.n_stock))
        resid = lm_df.iloc[:,0:self.n_stock].values-\
            np.dot(np.ones([2*self.lookback,1]),lm_model.intercept_.reshape(1,-1))-\
            np.dot(lm_df.iloc[:,-1].values.reshape(-1,1),lm_model.coef_.reshape(1,-1))

        delta = (resid[:self.lookback]-resid[self.lookback:])
        delta = (np.mean(delta,axis=0) )/np.std(delta,axis=0)/np.sqrt(self.lookback)
        
        return delta
    
    def apm_factor(self):
        delta = self.regress()
        ret20 = self.Ret20()
        
        apm_model = LinearRegression( fit_intercept=False)
        apm_model.fit(ret20.values.reshape(-1,1),delta.reshape(-1,1))
        
        resid= delta.reshape(-1,1)-apm_model.coef_[0]*ret20.values.reshape(-1,1)
        return resid

In [164]:
factor_seq_apm =pd.DataFrame(np.zeros([len(trade_period)-20,n_stocks]),columns=stock_name[:n_stocks])



lookback=20


for i in range((len(trade_period)-20)):
    trade_date = trade_period[i+lookback]
    trade_past = trade_period[i]

    try:
        return_test = APM_Factor(stock_name,index_name,trade_date,trade_past,lookback,df)
    
        apm_factor= return_test.apm_factor()
        factor_seq_apm.iloc[i,:] = apm_factor.reshape(1,-1)
    except:
        continue

In [165]:

factor_seq_apm.to_csv('APM_factor.csv')